# Python cache files
__pycache__

# vim swap and read only files
*.swp
*.swo

.vscode
.idea
target
data
Cargo.lock
.DS_Store

.env
**/.env
!gql-server/.env
!docker/.env
#docker/.dev.env

node/tests/collation/*
node/data
node/collation-data
node/node-pids.txt

gosh-cli.conf.json
tonos-cli.conf.json
tvm-cli.conf.json
acki-nacki.conf.json

*.log*

docker/ton-live/web/storage/

node/tests-data

*.keys.json
!config/BlockKeeperContractRoot.keys.json
!tests/wallet_tx_flooder/contracts/CeremonyFinalizer.keys.json

!tests/GiverV3.keys.json

ansible/files/*.json
ansible/files/*.zip
ansible/inventory*.yml

!ansible/files/blockchain.conf.json
!ansible/inventory.example.yml

test_servers

*.bkp
*.dtmp

vendored/
ansible/files/zerostate
ansible/files/BlockKeeperEpochContract.code.hash
server_logs*
server_data*
*.csv
*.csv#
!config/*.keys.json
*.xlsx
*.xlsx#
/tests/proxy-5/.var/
ansible/tests/keys
